<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <title>Hello, world!</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark shadow-lg fixed-top">
      <div class="container">
        <a class="navbar-brand col-md-2" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-left" id="navbarText">
          <ul class="navbar-nav me-auto mb-3 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WORK</a>
            </li>
            <li class="nav-item col-md-">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item col-md-4">
              <a class="nav-link" href="#">ABOUT ME</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse text-right" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">SIGN UP</a>
            </li>
            <li class="nav-item col-md-3">
              <a class="nav-link" href="#">LOGIN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid banner" id="main">
      <div class="container text-center">
        <h1 class="display-1 h1">PLAY TRADITIONAL GAME</h1>
        <h5 class="display-8 h5">Experience new traditional game play</h5>
        <button onclick="location.href='index2'" type="button" class="btn btn-warning btn-lg">PLAY NOW</button>
      </div>
    </div>
    <div class="container-fluid layanan" id="about">
      <div class="">
        <div class="row pt-4">
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
            <h7 class="display-8 h7">What's so special?</h5>
            <h4 class="display-4 h4">THE GAMES</h4>
          </div>
          <div class="col-md-4 mb-5 pb-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>  
        </div>    
      </div>
    </div>
    <div class="container-fluid features" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
          </div>
          <div class="col-md-5 mb-5 pb-5">
            <div class="timeline p-4 block mb-5">
              <h7 class="display-8 h7">What's so special?</h7>
              <h4 class="display-4 h4">FEATURES</h4>
              <div class="tl-item active">
                  <div class="tl-dot b-warning"></div>
                  <div class="tl-content">
                    <h5 class="display-8 color5">TRADITIONAL GAMES</h5>
                      <div class="">If you miss your childhood, we provide</br> many traditional games here</div>
                    </br>
                  </div>
              </div>
              <div class="tl-item">
                  <div class="tl-dot2 b-primary"></div>
                  <div class="tl-content">
                    <h5 class="display-8 color5 h5">GAME SUIT</h5>
                  </div>
              </div>
              <div class="tl-item">
                  <div class="tl-dot3 b-danger"></div>
                  <div class="tl-content">
                    <h5 class="display-8 color5 h5">TBD</h5>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid requirements pt-5 pb-5" id="requirements">
      <div class="container">
        <p class="text-center m-5 p-5">Can My Computer Run this game?</p>
      </div>
      <div class="row">
        <div class="col-md-6 mb-5">
          <h2 class="text-center">SYSTEM REQUIREMENTS</h2>
          <table class="table table-bordered border-dark mb-5 pb-5 table-fit" style="margin-left :25%; margin-bottom: 10%;">
            <tbody>
              <tr>
                <td>
                  <h3 class="text-warning h3">OS :</h3>
                  <h7 class="text-light h7">Windows 7 64-bit only</h7></br>
                  <h7 class="text-light h7">(No OSX support at this time)</h7>
                </td>
                <td>
                  <h3 class="text-warning h3">PROCESSOR:</h3>
                  <h7 class="text-light h7">Inter Core 2 Duo @ 2.4 GHZ or </h7></br>
                  <h7 class="text-light h7">AMD Athlon X2 @ 2.8 GHZ</h7>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="text-warning h3">MEMORY :</h3>
                  <h7 class="text-light h7">4 GB RAM</h7>
                </td>
                <td>
                  <h3 class="text-warning h3">STORAGE :</h3>
                  <h7 class="text-light h7">8 GB available space</h7>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <h3 class="text-warning h3">STORAGE :</h3>
                  <h7 class="text-light h7">NVIDIA GeForce GTX 660 2GB or </h7></br>
                  <h7 class="text-light h7">AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h7>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container-fluid top-score-bg pt-5">
      <div class="container text-left">
        <div class="row">
          <div class="col-md-6 mt-5 pt-5 d-flex align-items-center justify-content-center">
            <div class="banner-description">
              <h1 class="display-1">TOP SCORES</h1>
              <h5 class="display-8">This top score from various games provided on this platform</h5>
              <button type="button" class="btn btn-warning btn-lg button1">see more</button>
            </div>
          </div>
          <div class="col-md-6 mt-5 pt-5">
            <div class="card card-text ms-5 card bg-dark text-white card1" style="width: 70%; height: 30%;">
              <div class="container">
                <div class="row">
                  <div class="col-4 circle-img mt-1 mb-2"><img src="../assets/evan-lahti.jpg" class="rounded-circle circle-img mt-2" alt="..."></div>
                  <div class="col-6"><h4 class="text-warning justify-content-center">Evan Lahti</h4>
                    <h5 class="color6">PC Gamer</h5>
                  </div>
                  <div class="col"><img src="../assets/twitter-card.png" class="" alt="..."></div>
                </div>
                <div class="row">
                  <div class="col-12"><h5 class="text-white card-text">"One of my gaming highlights of the year"</h5></div>
                </div>
                <div class="row">
                  <h8 class="color6 card-text">June 18, 2021</h8>
                </div>
              </div>
            </div>
            <div class="card card-text mt-5 card bg-dark text-white card1" style="width: 70%;">
              <div class="container">
                <div class="row">
                  <div class="col-4 circle-img"><img src="../assets/jada.jpg" class="rounded-circle circle-img" alt="..."></div>
                  <div class="col-6"><h4 class="text-warning justify-content-center">Evan Lahti</h4>
                    <h5 class="color6">Nerdreactor</h5>
                  </div>
                  <div class="col ms-auto"><img src="../assets/twitter-card.png" class="" alt="..."></div>
                </div>
                <div class="row">
                  <div class="col-12"><h5 class="text-white card-text">"The next big thing in the world of streaming and survival games."</h5></div>
                </div>
                <div class="row">
                  <h8 class="color6 card-text">July 10, 2021</h8>
                </div>
              </div>
            </div>
            <div class="card card-text mt-5 ms-5 card bg-dark text-white card1" style="width: 70%;">
              <div class="container">
                <div class="row">
                  <div class="col-4 circle-img"><img src="../assets/aaron-williams.jpg" class="rounded-circle" alt="..."></div>
                  <div class="col-6"><h4 class="text-warning justify-content-center">Evan Lahti</h4>
                    <h5 class="color6">Uproxx</h5>
                  </div>
                  <div class="col"><img src="../assets/twitter-card.png" class="" alt="..."></div>
                </div>
                <div class="row">
                  <div class="col-12"><h5 class="text-white card-text">"Snoop Dogg Playing the wildly Entertaining 'SOS' Is Ridiculous."</h5></div>
                </div>
                <div class="row">
                  <h8 class="color6 card-text">December 24, 2018</h8>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid subscribe">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mt-5">
            <h1></h1>
          </div>
          <div class="col-md-6 align-items-left mt-5 p-5">
          </br>
            <div class="row">
              <div class="col-md-4">
                <h5>Want to stay in touch?</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <h1>NEWSLETTER SUBSCRIBER</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</h5>
              </div>
            </div>
            </br>
            <div class="row">
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Your email address">
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-lg">Subscribe now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="text-center text-lg-start text-white mt-auto" style="background-color: black;" >
        <!-- Grid container -->
        <div class="container p-4 ">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-1  mx-auto mt-3 text-md-start">
                
                <p>
                  <a class="text-white" href="#main">MAIN</a>
                </p>
                
              </div>
              <div class="col-md-1 mx-auto mt-3 text-md-start">
                
                <p>
                  <a class="text-white" href="#about">ABOUT</a>
                </p>
                
              </div>
              <div class="col-md-2 mx-auto mt-3 text-md-start">
                
                <p>
                  <a class="text-white" href="#features">GAME FEATURES</a>
                </p>
                
              </div>
              <div class="col-md-2 mx-auto mt-3 text-md-start">
                
                <p>
                  <a class="text-white" href="#requirements">SYSTEM REQUIREMENTS</a>
                </p>
                
              </div>
              <div class="col-md-1 mx-auto mt-3 text-md-start">
                
                <p>
                  <a class="text-white" href="#quotes">QUOTES</a>
                </p>
                
              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->


              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-3 text-md-end">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                    class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                    class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                    class="fab fa-youtube"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                    class="fab fa-twitch"></i></a>
              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->

          <hr class="my-3">

          <!-- Section: Copyright -->
          <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
              <!-- Grid column -->
              <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="p-3">
                  © 2018 Your Games, Inc, All Right Reserved
                </div>
                <!-- Copyright -->
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <!-- Facebook -->
                <div class="p-3">
                  Privacy Policy | Terms of services | Code of conduct
                </div>
              </div>
              <!-- Grid column -->
            </div>
          </section>
          <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
      </footer>
    </div>
    
    <!-- <div class="container-fluid layanan pt-5 pb-5">
      <div class="container text-center">
        <div class="" id="thegames">
          <div class="row pt-4">
            <div class="col-md-4">
              <p class="mt-3 text-left">What's so special?</p>
              <h2 class="mt-3 display-6">THE GAMES</h2>
            </div>
          </div>
        </div>
      </div> 
    </div> -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>