<h1>Register</h1>
<form action="/" method="POST">
    <div>Email</div>
    <input type="text" name="username"></input>
    <br>
    <div>Password</div>
    <input type="password" name="password"></input>
    <br>
    <input type="submit" value="submit"/>
</form>


